name: Deploy docs

on:
  push:
    branches: [main]
    paths:
      - 'docs/**'

  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn
      - run: yarn install --frozen-lockfile

      - name: Build
        run: |
          cd docs
          yarn build
          chmod 600 dist/CNAME

      - name: Debug
        run: |
          echo "=== 构建目录内容 ==="
          ls -la docs/.vitepress/dist/
          echo "=== 是否有index.html ==="
          ls docs/.vitepress/dist/ | grep index.html

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_dir: docs/.vitepress/distdist